APP_NAME=Consignx
APP_ENV=local
APP_KEY=base64:pucBRPLCssPxYXsYOhfTlOYaIzdPqwQ1ne5QiRCz47M=
APP_DEBUG=true
APP_URL=http://skripsi-backend.test
APP_FRONT_URL=http://localhost:3003

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=skripsi_laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp-relay.sendinblue.com
MAIL_PORT=587
MAIL_USERNAME=whitehat0ea@gmail.com
MAIL_PASSWORD=qOyApX7z6SYgfQJF
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=whitehat0ea@gmail.com
MAIL_FROM_NAME=Consignx

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=1567548
PUSHER_APP_KEY=bbb40b8282ab2cc8d7ef
PUSHER_APP_SECRET=84be84b7e12ec41f9827
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=ap1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

XENDIT_KEY=xnd_development_zpUaJuyiiRI1ZGTVlHhvCanYDm8Ld6hN5cnPQ8OuEqAmBHVzCvEZUyHbmtktvHb
XENDIT_VERIFICATION_TOKEN=AgWAYrj4F1f3Y5felQVIuriOsx4fHiDY4q5QJb8sUzUlrQsR

RAJA_ONGKIR_KEY=741d95a0818bf495ebbc4650f6b88819
